@using Dominio;

@if (ViewBag.error != null)
{
	<div class="alert-danger">@ViewBag.error</div>
}
else
{
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th>Fecha</th>
				<th>Precio</th>
				<th>Vuelo</th>
				<th>Equipaje</th>
				<th>Nombre</th>

			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@ViewBag.Usuario.Nombre</td>
				
			</tr>
		</tbody>
	</table>
}

